 .list {
   &__header {
     text-align: center;
     color: @gray;
   }
   &__container {
     display: flex;
     justify-content: center;
   }
   &__item {
     line-height: 1.8;
   }
   &__item-input {
     padding-left: 5px;
     line-height: 1.8;
     font-size: 14px;
     border: 1px solid @grayLight;
     width: 200px;
     &:focus {
       background: @blue;
       color: @white;
     }
   }
 }